subjectAltName = DNS:{{ docker_tls.hostname|default('docker.local') }},IP:{{ ansible_default_ipv4.address }},IP:127.0.0.1{% if docker_tls.vip_ipv4|default(false) %},IP:{{ docker_tls.vip_ipv4 }}{% endif %}

extendedKeyUsage = serverAuth