subjectAltName = DNS:{{ docker_tls.hostname }},IP:{{ ansible_default_ipv4.address }},IP:127.0.0.1{% if docker_tls.vip_ipv4 is defined %},IP:{{ docker_tls.vip_ipv4 }}{% endif %}{% if docker_tls.node_ips is defined %}{% for ip in docker_tls.node_ips %},IP:{{ ip }}{% endfor %}{% endif %}

extendedKeyUsage = serverAuth